/* CSS reset:
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
  Fine, I'll do it myself
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Quicksand&display=swap');

:root {
  --topbar-height: 150px;
  --item-height: 225px;
  --item-width: 338px;
  --item-spacing: 2.75vh;
  --main-color: #004282;
  --white-text: white;
  --background-color: #E8E8E8;
  --main-font-family: 'Quicksand', 'Fira Sans', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  font-family: var(--main-font-family);
}

h3 {
  font-weight: bold;
  font-size: 24px;
  font-family: var(--main-font-family);
}

h4 {
  font-weight: bold;
  font-size: 22px;
  font-family: var(--main-font-family);
}

h5 {
  font-weight: bold;
  font-size: 20px;
  font-family: var(--main-font-family);
}

h6 {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--main-font-family);
}

p {
  font-size: 14px;
  font-family: var(--main-font-family);
}

.container {
  display: grid;
  grid-template: var(--topbar-height) calc(100vh - var(--topbar-height)) / 225px 1fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--main-color);
  color: var(--white-text);
}

#home-button {
  height: calc(var(--topbar-height)/1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

#sidebar-main-buttons > ul{
  height: 500px;
  display: grid;
  grid-template: repeat(auto-fit, 1fr) / 1fr;
  justify-items: center;
  align-items: center;
}

#sidebar-bottom-buttons {
  margin-top: 20px;
  flex: 1;
  display: grid;
}

#sidebar-bottom-buttons > ul {
   height: 200px;
  display: grid;
  grid-template: repeat(auto-fit, 1fr) / 1fr;
  justify-items: center;
  align-items: center;
}

li > a {
  display: grid;
  grid-template: repeat(6, 10px) / 45px 80px;
  align-items: center;
  
}

li {
  font-size: 18px;
}

.icon {
  fill: var(--white-text);
  transform: scale(0.75);
}

#big-icon {
  transform: scale(1.5);
}

a:hover {
  transform: scale(1.05);
}

a:active {
  transform: translateY(1px);
}

.topbar {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
}

#top-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-button {
  background: none;
  border: none;
  transform: scale(0.80);
}

#search-button:hover {
  transform: scale(1.0);
}

#search-button:active {
  transform: rotate(5deg) scale(1.2);

}

#searchbar {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}

#search {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  margin-left: 5px;
  background-color: var(--background-color);
  padding-left: 8px;
}

#user-info {
  display: flex;
  width: 230px;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
}

#bell-icon {
  transform: scale(0.55);
}

#bottom-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-bottom-topbar {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

#topbar-user-info {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
}

#right-bottom-topbar > ul {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

#bubble-button {
  border-radius: 15px;
  width: 90px;
  height: 33px;
  color: var(--white-text);
  background-color: var(--main-color);
}

#bubble-button:hover {
  box-shadow: inset 0 0 20px var(--main-color), 0 0 5px var(--main-color);
  outline-offset: 15px;
}

#bubble-button:active {
  transform: translateY(2px);
  background-color: #001682;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  background-color: var(--background-color);
  box-shadow: inset 0 0 10px;
}

#left-main {
  flex: 4.5;
  display: flex;
  flex-direction: column; 
}

#project-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 40px;
}

#projects {
  display: grid;
  grid-template: repeat(auto-fit, var(--item-height)) / repeat(auto-fit, var(--item-width));
  justify-content: space-evenly;
  gap: calc(var(--item-spacing)*1.35);
  padding: var(--item-spacing);
  overflow: auto;
  margin-right: 6px;
}

.item {
  width: var(--item-width);
  height: var(--item-height);
  border-left: solid 6.5px var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--white-text);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.02);
}

.item-content {
  padding: 10px;
  display: grid;
  gap: 5px;
}

.item-buttons {
  align-self: flex-end;
  transform: scale(.65);
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: -25px;
}



#right-main {
  flex: 1;
  display: grid;
  grid-template: 1fr 10fr 1fr 10fr / 1fr;
  padding-left: 0px;
  gap: calc(var(--item-spacing)-10px);
  padding-top: 50px;
  overflow: auto;
  
}

.side-box {
  width: 250px;
  height: 32vh;
  border-radius: 10px;
  background-color: var(--white-text);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.announcement {
  height: calc(32vh/3);
  width: 225px;
  border-bottom: solid #D3D3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement.last {
  border-bottom: none;
}

.side-box.bottom {
  display: grid;
  grid-template: repeat(1fr, 6)/ 1fr;
  justify-content: center;
  
}

.trendy {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -40px;
}

.username-small {
  font-weight: 600;
  font-size: 14px;
  font-family: var(--main-font-family);
}

#random-circle {
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

#random-circle-2 {
  background-color: blue;
  height: 75px;
  width: 75px;
  border-radius: 100px;
}